@media all and (max-width: 768px){
	.header-bottom{
		height: 150px;
		text-align: center;
	}
	.content-area{
		text-align: center;
        height: 1100px;
	}
	.content-button{
		float: none;
	}
	.form-area{
	    padding-top: 100px;
    }
    .form-area .query-area{
        padding-top: 10px;
    }
    .form-area button{
    	float: none;
    }
    .footer-mail{
    	padding-right: 0; 
    }
	
}